# MDWriter - 微信公众号 Markdown 编辑器

一个专注于使用Markdown编写微信公众号文章的WEB应用，支持向公众号推送以及发布！让你更加方便的使用。

## 核心功能
- 公众号扫码登陆和OAuth登陆
    - OAuth使用next-auth
    - 支持Github登陆
- 📝 Markdown 编辑与实时预览
    - 使用mdx实现
    - 考虑预览的模式，编辑区和预览区同步滚动
    - 预览区域字体尽可能小一点
- 🎨 Markdown编辑器多种预设主题样式
    -至少预设6个主题，用户可以自主切换使用，主题样式要符合微信公众号的排版规范，具体样式可以参考135编辑器、秀米编辑器、365编辑器等流行的微信编辑器
- Markdown编辑器主题自定义
    - 用户可以自主选择主题，并可以自定义主题样式，给用户提供一个简单的示例
- 💾 本地草稿管理
    - 用户可以自主管理草稿，可以保存和删除 ，数据使用IndexedDB存储
    - 最多存储3个草稿
    - 超过三个提示让用户删除
- 🔄 微信公众号多账号管理
    - 用户可以自主管理多个微信公众号，并可以切换使用
    - 支持公众号添加，用户需要输入APPID和APPSECRET
- 付费计划
    - 注册用户可以免费体验7天，7天后需要付费
    - 付费模式有两种：Pro和Pro+
        - Pro：可以管理5个微信公众号，
        - Pro+：可以管理100个微信公众号，
- 网站主题切换
    - 暗黑模式和亮色模式

## 技术栈

- Next.js 15.1.4
- Tailwind CSS 3.4.1
- React 19.0.0
- JavaScript
- ESLint
- Prettier

## 界面设计
- Landing Page 
    - 简约大方
    - 注册色彩搭配
    - 注意界面跳转
- 编辑界面
    -左侧功能区（包括草稿管理、主题选择、保存草稿、推送、推送及发布）
    -中间是编辑区
        - 编辑区使用MDX编辑器
        - 包括标题
        - 包括内容
        - 包括图片
        - 包括头图
        - 注意位置的分布
    -右侧是预览区
- 配置界面
    -左侧菜单选择(包括公众号管理、用户管理、付费计划、设置)
    -右侧是配置区
- 登录界面
    - 支持Github登录
    - 支持微信扫码登录
    - 弹窗展示
- 界面要求
    - 界面要简洁大方，流行，让人眼前一亮
    - 界面开发要兼容移动端
## UI和依赖库要求
- 开发过程中优先使用已经安装的依赖库
- 样式使用Tailwind CSS
- 组件库使用
- 优先使用@heroui里边的内置组件，文档地址https://www.heroui.com/docs/guide/introduction， 如果满足不了再使用原生和tailwindcss去实现
- 保持UI美观、现代化：
- 图标使用lucide-react
- 动画使用framer-motion
## 数据存储要求

- 草稿数据存储在本地，每次启动时从本地读取
- 个人信息等其他存储在数据库

### 数据库
- 使用Prisma ORM
- 使用PostgreSQL
- 用户信息简单一点 公众号登陆和Oauth登陆存在一张表中就可以

## 部署说明
- 要支持项目和数据库单独部署啊和集成部署两种方式
- 使用Docker Compose部署


